/* Add your CSS here */

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --darkBeige: #E6DACD;
    --lightBeige: #F4ECE6; 
    --royalBlue: #0150FD;
    --black: #000 White: #FFF;
    /* fonts */
    --poppins:  "Poppins", sans-serif;
    --quicksand:  "Quicksand", sans-serif;
}


.poppins {
    font-family: "Poppins", sans-serif;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
}
/* anchor tag  */
a {
    text-decoration: none;
}

a:visited {
    color: gray;
}
/* header */



.header-sec {
    top: 0;
    position: fixed; /*sticky  */
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
   
}

.title {
    display: flex;
    justify-content: left;
}

.nav-bar {
    padding: 5px 10px;
    
   }
 .nav-links {
    padding: 0px 5px;
 }  

.blue-box {
    width: 10px;
    height: 10px;
    background-color: var(--royalBlue);
    margin: auto;
}

.nameTag {
    color: var(--royalBlue);
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    margin: auto;
    padding: 0px 10px;
}

.jobTag {
    font-family: "Quicksand", sans-serif;
    margin: auto;
}

.main {
    display: flex;
}

/* profile-container */

.profile-container {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 30%
}

.grid-1 {
    background-color: var(--darkBeige);
  
    padding: 10px;
    text-align: center;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    height: 40em;
}

.profile-img{
  width:25em;
  margin: auto;
}

.social-icons {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding:  10px 5px ;
    height:10em;
}

.icon{
width: 20%;
height: 20%;
padding: 10px 5px;
}
/* about-container */

.about-container {
padding: 10px;
margin: 0px 30px;
width: 45em ;
text-align: left;
}

.large-txt {
    font-size:120px;
    font-family: "Poppins",sans-serif;
    font-weight:900;
    line-height: 1.5px;
    }

.btn-resume{
background-color: var(--royalBlue);
    padding: 10px 35px;
    border-radius: 17px;
    color: var(--white);
    font-weight: bold;
    border: none;
}

.btn-resume:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--royalBlue);
}

.btn-project {
    background-color: var(--white);
    padding: 10px 35px;
    border-radius: 17px;
    }
 .btn-project:hover {
    background-color: var(--royalBlue);
    color:var(--white) ;
    border: none ;
}   

.about-info {
    font-weight: bold;
    font-family: "quicksand";
    word-spacing: 0.5em ;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;

   }

.footer-container {
     display: flex;
    justify-content: right;
}

.copyright {
    margin: 0;
}

.social-sec , .call-sec, .write-sec{
    width: 200px;
   text-align: center;
}

.social-bar{
    display: flex;
    justify-content: space-around;
}

.icon-footer {
    width:10%;
    height: 10%;
    padding: 2px;
}

/* @media */

/* Dont' forget to link this file to your HTML in the <head> */
